<h1>New task</h1>

<%= form_for(@task) do |f| %>
    <%= f.label :Title %>
    <%= f.text_field :Title%>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.label :completed %>
    <%= f.text_field :completed %>
    <%= f.submit %>
<% end %>